<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <%= csrf_meta_tags %>
  
  <title><%= Settings.site_name %></title>

  <% stylesheet "application" %>
  <% javascript "application" %>
  
  <%= content_for(:stylesheets) %>
</head>
<body>
  <div id="container" class="container">
    
    <header>
      <nav>
        <ul>
          <li><%= link_to Settings.site_name, root_url %></li>
          <% if logged_in? %>
            <li><%= link_to 'Edit account', edit_user_path(current_user)  %></li>
            <li><%= link_to 'Logout', logout_path %></li>
          <% else %>
            <li><%= link_to 'Sign up', signup_path  %></li>
            <li><%= link_to 'Login', login_path %></li>
          <% end %>
        </ul>
      </nav>
    </header>
    
    <div id="main" role="main">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash-\#{name}" if msg.is_a?(String) %>
      <% end %>

      <% if show_title? %>
        <h1><%= content_for(:title) %></h1>
      <% end %>
      
      <%= yield %>
    </div>
    
    <footer>
      <p>&copy; <%= Time.now.year %> <%= Settings.company %>.</p>
    </footer>
    
  </div>
  
  <%= content_for(:javascripts) %>
  <%= javascript_tag "$(function() { #{content_for(:javascript_onload)} });" %>
</body>
</html>